## Demo funciones pandas

In [3]:
%matplotlib inline

import pandas as pd

In [5]:
titulos = pd.read_csv("/Users/mertatalay/Desktop/programacionII/data/titles.csv")
titulos.head()

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

In [6]:
pd.__version__

'1.5.1'

In [7]:
elenco = pd.read_csv("/Users/mertatalay/Desktop/programacionII/data/cast.csv", encoding='utf-8')
elenco.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [8]:
len(titulos)

230407

In [9]:
titulos.sort_values('title').head()

                        title  year
138290       #1 Serial Killer  2013
225138                     #5  2013
193379             #50Fathers  2015
152808                    #66  2015
63425   #73, Shaanthi Nivaasa  2007

In [7]:
len( titulos[titulos.title == "Matrix"] )

0

In [8]:
titulos.title.value_counts().head(5)

Hamlet          19
Carmen          16
Macbeth         15
Maya            11
The Outsider    11
Name: title, dtype: int64

In [9]:
titulos[titulos.title == "Dracula"].sort_values('year').head(3)

          title  year
94156   Dracula  1931
35229   Dracula  1958
184003  Dracula  1979

In [10]:
titulos[titulos.title.str.contains("Romeo")].sort_values('year')

                              title  year
124702             Romeo and Juliet  1916
147098        Romeo and Juliet (II)  1916
98409             Giulietta e Romeo  1918
192667    Romeo und Julia im Schnee  1920
112536               A Ridin' Romeo  1921
...                             ...   ...
10288                     Jou Romeo  2016
80514                Romeo & Juliet  2016
171547  Romeo and Juliet Vs Suicide  2017
70721                Romeo & Juliet  2017
190136          Romeo Killed Juliet  2018

[97 rows x 2 columns]

In [11]:
len( titulos[titulos.year == 1960] )

1488

In [12]:
len( titulos[titulos.year == 1980] )

1773

In [13]:
len( titulos[ (titulos.year >= 1960) & (titulos.year <= 1969) ] )

17348

In [20]:
len( titulos[ titulos.year // 10 == 200] )

38496

In [21]:
titulos[ titulos.title == "Godzilla"]

           title  year
768     Godzilla  1977
98814   Godzilla  2014
110864  Godzilla  2017
224749  Godzilla  1998

In [22]:
len( elenco[elenco.title == "Batman"] )

120

In [23]:
c = elenco[elenco.title == "Godzilla"]
c = c[c.n.isnull()]
len( c )

126

In [ ]:
# Cuantos papeles en la pelicula "The Godfather" si estuvieron clasificados con un valor "n"
c = elenco[elenco.title == "The Godfather"]
c = c[c.n.notnull()]
len(c)

34

In [24]:
# Mostrar el elenco completo de la pelicula "Romeo" 
# ordenado por su clasificasión "n", ignorando los papeles que 
# no se les asigno ningun valor "n"

c = elenco
c = c[c.title == "Romeo"]
c = c[c.n.notnull()].sort_values('n')
c

,title,year,name,type,character,n
553465,Romeo,2011,Dev (V),actor,Siddhartha Roy (Siddhu),1.0
756276,Romeo,2012,Ganesh (XII),actor,Ganesh,1.0
3473481,Romeo,1990,Monique van de Ven,actress,Anne Herden,1.0
2770608,Romeo,2011,Subhasree Ganguly,actress,Pooja Chatterjee,2.0
2502342,Romeo,2012,Bhavana (II),actress,Shruthi,2.0
1267959,Romeo,1990,Johan Leysen,actor,Matthijs,2.0
96846,Romeo,2012,Avinash,actor,Shruthi's Father,3.0
362580,Romeo,2011,Sabyasachi Chakraborty,actor,Aviraj Roy,3.0
2515837,Romeo,1990,Ottolien Boeschoten,actress,Nel,3.0
218582,Romeo,1990,Peter Bolhuis,actor,Chiel,4.0
2487862,Romeo,2012,Sudha Belawadi,actress,Ganesh's Mother,4.0
471511,Romeo,1990,Hans Croiset,actor,Dokter,5.0
1773273,Romeo,2012,Rangayana Raghu,actor,Ganesh's Father,5.0
529324,Romeo,1990,Peter De Wijn,actor,Verhoeven,6.0
3446036,Romeo,1990,Coby Timp,actress,Moeder,7.0
2219144,Romeo,1990,Bob van den Berg,actor,Vader,8.0
2983000,Romeo,1990,Pim Lambeau,actress,Dame met hondje,9.0
2793582,Romeo,1990,Mouna Goeman Borgesius,actress,Verpleegster,10.0
847671,Romeo,1990,Theo de Groot,actor,Co-assistent,11.0
2511769,Romeo,1990,Nettie Blanken,actress,Tweede dokter,12.0
2686734,Romeo,1990,Judy Doorman,actress,Kennis Matthijs,13.0
3216766,Romeo,1990,Elja Pelgrom,actress,Kennis Anne,14.0
1143718,Romeo,1990,Arjan Kindermans,actor,Frank,15.0
1041700,Romeo,1990,David (II) Jansen,actor,Tommie,16.0
622552,Romeo,1990,Wick Ederveen,actor,Directeur,17.0
1041667,Romeo,1990,Quentin Janse,actor,Regie-assistent,18.0
3411321,Romeo,1990,Devika Strooker,actress,Actrice,19.0
2395388,Romeo,1990,Dirk Zeelenberg,actor,Acteur,20.0
2872471,Romeo,1990,Joke Hoolboom,actress,Vriendin,21.0
2901994,Romeo,1990,Leoni Jansen,actress,Vriendin,22.0
2902020,Romeo,1990,Magdalena Jansen,actress,Vriendin,23.0
3474068,Romeo,1990,Maeve van der Steen,actress,Vriendin,24.0
3469284,Romeo,1990,Dela Maria Vaags,actress,Vriendin,25.0
2219491,Romeo,1990,Dick van den Toorn,actor,Kennis op feest,26.0
229524,Romeo,1990,Peter Bos,actor,Kennis op bezoek,27.0
1933461,Romeo,1990,Nico Schaap,actor,Controleur tram,28.0
704060,Romeo,1990,De Gebroeders Flint,actor,Tram muzikanten,29.0
1108527,Romeo,1990,Dean Kaye-Creatrix,actor,Baby Romeo,30.0

In [25]:
# Mostrar el elenco completo ordenado por la clasificacion "n"
# de la pelicula "Godzilla" de 1998
c = elenco
c = c[ (c.title == "Godzilla") & (c.year == 1998) ] 
c = c.sort_values("n")
c

,title,year,name,type,character,n
263322,Godzilla,1998,Matthew Broderick,actor,Dr. Niko Tatopoulos,1.0
1809337,Godzilla,1998,Jean Reno,actor,Philippe Roach?,2.0
3233371,Godzilla,1998,Maria Pitillo,actress,Audrey Timmonds,3.0
99649,Godzilla,1998,Hank Azaria,actor,Victor 'Animal' Palotti,4.0
606991,Godzilla,1998,Kevin Dunn,actor,Colonel Hicks,5.0
...,...,...,...,...,...,...
2529498,Godzilla,1998,Dara J. Bragg,actress,Lady running,NaN
2784297,Godzilla,1998,Mary Ann Giannino,actress,Police Press Reporter,NaN
2836582,Godzilla,1998,Lynn Harder,actress,Mayor's Pilot #1,NaN
3124994,Godzilla,1998,Gretchen Mol,actress,Reporter,NaN
3275715,Godzilla,1998,Judy (II) Reyes,actress,Woman #1,NaN

In [26]:
# Cuantos papeles fueron listados en la pelicula "Dracula" de 1979
c = elenco
c = c[ (c.title == "Dracula") & (c.year == 1979) ]
len(c)

19

In [28]:
# Cuantos papeles de "Clark Kent" han sido hechos en la historia 
# de las peliculas
c = elenco 
c = c[c.character == "Clark Kent"]
len(c)

22

In [29]:
# Cuanta gente ah hecho el papel de "Julieta"
c = elenco
c = c[c.character == "Julieta"]
len(c)

52

In [30]:
# Cuantos papeles ah hecho "Keanu" en su carrera
c = elenco
c = c[c.name == "Keanu"]
len(c)

0

In [31]:
# Listado de papeles de soporte que tuvo el actor "Matt Damon" en
# la decada de los 00's, ordenado por año

c = elenco
c = c[c.name == "Matt Damon"]
c = c[c.n == 2]
c = c[c.year // 10 == 200]
c = c.sort_values('year')
c

,title,year,name,type,character,n
497631,The Legend of Bagger Vance,2000,Matt Damon,actor,Rannulph Junuh,2.0
497597,Gerry,2002,Matt Damon,actor,Gerry,2.0
497627,The Departed,2006,Matt Damon,actor,Colin Sullivan,2.0
497604,Invictus,2009,Matt Damon,actor,Francois Pienaar,2.0

In [32]:
# Listado de papeles como protagonista que tuvo el actor "Brad Pitt" en
# la decada de los 90's, ordenado por año de forma descendente

c = elenco
c = c[c.name == "Brad Pitt"]
c = c[c.n == 1]
c = c[c.year // 10 == 199]
c = c.sort_values('year',ascending=False)
c

,title,year,name,type,character,n
1722122,Meet Joe Black,1998,Brad Pitt,actor,Joe Black,1.0
1722123,Meet Joe Black,1998,Brad Pitt,actor,Young Man in Coffee Shop,1.0
1722132,Seven Years in Tibet,1997,Brad Pitt,actor,Heinrich Harrer,1.0
1722115,Interview with the Vampire: The Vampire Chroni...,1994,Brad Pitt,actor,Louis,1.0
1722119,Legends of the Fall,1994,Brad Pitt,actor,Tristan Ludlow,1.0
1722117,Kalifornia,1993,Brad Pitt,actor,Early Grayce,1.0
1722116,Johnny Suede,1991,Brad Pitt,actor,Johnny Suede,1.0

In [33]:
# ¿Cuantos papeles para actores hubo en la decada de los 90's?
c = elenco
c = c[c.type == "actor"]
c = c[c.year //10 == 199]
len(c)

257429

In [34]:
# ¿Cuantos papeles para actrices hubo en la decada de los 40's ?
c = elenco
c = c[c.type == "actress"]
c = c[c.year //10 == 194]
len(c)

50794

In [35]:
# ¿Cuantos papeles protagonicos existen desde el principio de
# la historia filmatografica hasta 1990 ?
c = elenco
c = c[c.n == 1]
c = c[c.year <= 1990]
len(c)

76727